.cart-widget {
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.cart-widget svg {
  width: 24px;
  height: 24px;
}

.cart-quantity {
  position: absolute;
  top: -8px;
  right: -8px;
  background-color: var(--secondary-color);
  color: var(--dark);
  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  font-weight: bold;
}
